/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #283af7;
  --ifm-color-primary-dark: #0c21f6;
  --ifm-color-primary-darker: #091ceb;
  --ifm-color-primary-darkest: #0717c2;
  --ifm-color-primary-light: #4453f8;
  --ifm-color-primary-lighter: #5260f9;
  --ifm-color-primary-lightest: #7b86fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8d99ff;
  --ifm-color-primary-dark: #6576ff;
  --ifm-color-primary-darker: #5264ff;
  --ifm-color-primary-darkest: #162fff;
  --ifm-color-primary-light: #b5bcff;
  --ifm-color-primary-lighter: #c8ceff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Make the active section in the right sidebar (TOC) more visible with green color */
.table-of-contents__link--active {
  color: var(--ifm-color-primary) !important;
  font-weight: 600 !important;
  border-left: 3px solid var(--ifm-color-primary) !important;
  padding-left: calc(var(--ifm-toc-padding-horizontal) - 3px) !important;
}

.table-of-contents__link--active code {
  color: var(--ifm-color-primary) !important;
  font-weight: 600 !important;
}

/* Add hover effect for better interactivity */
.table-of-contents__link:hover {
  color: var(--ifm-color-primary-dark) !important;
}
